		*{
				margin:0;
				padding:0;
				box-sizing:border-box;
				}
				#fullbox{
				height:100vh;
				padding:20px;
				}
				
				#container{
				width:90%;
				margin:auto;
				}
				
				.head{
				display:flex;
				align-items:center;
				justify-content:center;
				padding-top:20px;
				}
				.head hr{
				width:70px;
				border-color:red;
				margin-left:10px;
				margin-right:10px;
				}
				.para{
				text-align:center;
				padding-top:10px;
				}
				
				.circle{
				height:30px;
				width:30px;
				border-radius:50%;
				background-color:pink;
				position:absolute;
				right:85%;
				bottom:25%;
				z-index:-1;
				
				}
				.row1{
				display:flex;
				justify-content:space-between;
				margin-top:50px;
				
				}
				
				.box_flex{
				border-top:1px solid gray;
				}
				.box1{
				display:flex;
				position:relative;
				padding-top:20px;
				}
				.icon{
				padding:20px;
				font-size:60px;
				}
				.head_para{
				padding:20px;
				}
				.head_para p{
				padding-top:20px;
				}
				